.background {
    background-image: url('/img/rain.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 960px;
}

.link { 
    margin-top: 30%;
}

.txt {
    margin-top: 4px;
    color: aliceblue;
    text-decoration: none;
    font-size: 50px;
}

.yl {
    color: lightgoldenrodyellow;
}

.gr {
    color: lightgreen;
}

.bl {
    color: lightblue;
}

.rd {
    color: lightcoral;
}

/* about me */

.background-abme {
    background-image: url('/img/rainbg2.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 965px;
}

.header-abme {
    height: 20%;
}

.header-abme-div {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: lightgoldenrodyellow;;

}

.header-txt-abme {
    color: black;
    margin-top: 3%;
    font-size: 30px;
    padding-bottom: 3%;
    text-decoration: none;
}

.hd-div-abme {
    height: 100%
}

.big-div-abme {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    /* Smooth overgang voor hover-effect */
}

.big-div-abme:hover {
    background-color: gray;
    /* Nieuwe achtergrondkleur bij hover */
}

.txt-abme {
    color: lightgoldenrodyellow;
}

/* projecten */



.background-proj {
    background-image: url('/img/giphy.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 965px;
}

.header-proj {
    height: 20%;
}

.header-proj-div {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: lightgreen;

}

.header-txt-proj {
    color: white;
    margin-top: 3%;
    font-size: 30px;
    padding-bottom: 3%;
    text-decoration: none;
}

.hd-div-proj {
    height: 100%;
    padding-bottom: 1%;
}

.big-div-proj:hover {
    background-color: rgb(255, 255, 255);
}

.txt-proj {
    color: black;
}

.img-proj{
    width: 100%;
    border-radius: 30px;
}

.div1-proj , .div2-proj, .div3-proj , .div4-proj , .div5-proj , .div6-proj{
    transition: background-color 0.3s ease;
    padding: 20px;
}

.div1-proj:hover , .div2-proj:hover, .div3-proj:hover , .div4-proj:hover , .div5-proj:hover , .div6-proj:hover {
    background-color: lightgreen;
    /* Nieuwe achtergrondkleur bij hover */
}

/* contact page */

.background-con {
    background-image: url('/img/rainbg4.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 965px;
}

.header-con {
    height: 20%;
}

.header-con-div {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: lightblue;

}

.header-txt-con {
    color: black;
    margin-top: 3%;
    font-size: 30px;
    padding-bottom: 3%;
    text-decoration: none;
}

.hd-div-proj {
    height: 100%;
    padding-bottom: 1%;
}

.img-con{
    height: 89%;
    width: 80%;
    border-radius: 10px;
}

.img-con-div{
    margin-top: 2%;

}
/* website page */


.background-web {
    background-image: url('/img/rainbg3.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 965px;
}

.header-web {
    height: 20%;
}

.header-web-div {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: lightcoral;
}

.header-txt-web {
    color: black;
    margin-top: 3%;
    font-size: 30px;
    padding-bottom: 3%;
    text-decoration: none;
}

.hd-div-web {
    height: 100%;
    padding-bottom: 1%;
}

.div-web-txt{
    margin-top: 10%;
}

.div-web {
    background-color: lightcoral;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    /* Smooth overgang voor hover-effect */
}

.div-web:hover {
    background-color: aliceblue;
}